<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <title>Consulta de Albaranes (versión "página completa")</title>
        <meta
            name="description"
            content="Consultar los últimos albaranes. Recibiendo la página completa, con todos los datos, directamente desde el servidor."
        />
        <meta name="author" content="Juan Murua Olalde" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="css/style.css" />
    </head>

    <body>
        <header>
            <h1>Albaranes</h1>
        </header>

        <main>
            <h2>Ultimos albaranes registrados</h2>
            <table>
                <thead>
                    <th>numero</th>
                    <th>cliente</th>
                    <th>para entregar en</th>
                </thead>
                <tr th:each="albaran : ${albaranes}">
                    <td th:text="${albaran.numeroDeAlbaran}" />
                    <td th:text="${albaran.cliente.nombre}" />
                    <td th:text="${albaran.destino.poblacion}" />
                    <td>
                        <button type="button" th:onclick="mostrarDetallesDelAlbaran([[${albaran.numeroDeAlbaran}]])" />Mostrar
                        detalles
                    </td>
                </tr>
            </table>
            <hr />
            <p id="tituloDeLasLineasDeAlbaran">Albarán XXXXXX</p>
            <table th:each="albaran : ${albaranes}" th:attr="id=${albaran.numeroDeAlbaran}" class="tablaAOcultar" hidden>
                <thead>
                    <th>codigo de artículo</th>
                    <th>artículo</th>
                    <th>cantidad</th>
                </thead>
                <tr th:each="linea : ${albaran.lineas}">
                    <td th:text="${linea.articulo.codigoDeArticulo}" />
                    <td th:text="${linea.articulo.nombreCorto}" />
                    <td th:text="${linea.cantidad}" />
                </tr>
            </table>
        </main>

        <hr />
        <nav>
            <ul>
                <li>
                    <a href="index.html"
                        ><button type="button">
                            <img
                                src="images/icons8-home-page-64.png"
                                alt="Home icon, icono de casita"
                                width="32"
                                height="32"
                            /></button
                    ></a>
                </li>
            </ul>
        </nav>
        <script th:src="@{js/ConsultaConPaginaCompleta.js}"></script>
    </body>
</html>
